<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaidi100.bdindex.mapper.PermissionMapper">
    <sql id="Base_Column_List">
    FID,
    FNAME,
    FCREATE_TIME,
    FUPDATE_TIME,
    FSTATUS,
    FTYPE
</sql>
    <resultMap id="BaseResultMap" type="com.kuaidi100.bdindex.pojo.dto.PermissionDo">
        <result column="FID" property="id"/>
        <result column="FNAME" property="name"/>
        <result column="FCREATE_TIME" property="createTime"/>
        <result column="FUPDATE_TIME" property="updateTime"/>
        <result column="FSTATUS" property="status"/>
        <result column="FTYPE" property="type"/>
    </resultMap>
    <insert id="insertSelective" parameterType="com.kuaidi100.bdindex.pojo.dto.PermissionDo">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT SEQ_BDZS.CURRVAL AS ID FROM DUAL
        </selectKey>
        insert into T_BDZS_PERMISSION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            FID,
            <if test="name != null">
                FNAME,
            </if>
            <if test="createTime != null">
                FCREATE_TIME,
            </if>
            <if test="updateTime != null">
                FUPDATE_TIME,
            </if>
            <if test="status != null">
                FSTATUS,
            </if>
            <if test="type != null">
                FTYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            SEQ_BDZS.nextval,
            <if test="name != null">
                #{name},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <update id="update">
        update T_BDZS_PERMISSION
        <set>
            <if test="name!=null and name!=''">
                FNAME=#{name}
            </if>
            <if test="updateTime!=null">
                FUPDATE_TIME=#{updateTime}
            </if>
            <if test="type!=null">
                FTYPE=#{type}
            </if>
        </set>
        where FID=#{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-04-15-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_BDZS_PERMISSION
        where FID=#{id}
    </select>

    <select id="findByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_BDZS_PERMISSION
        where FID in
        <foreach collection="ids " item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

</mapper>
