<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ample16.stackdemo.mapper.RolePermMapper">
    <resultMap id="BaseResultMap" type="com.ample16.stackdemo.pojo.dto.RolePermDo">
        <!--@mbg.generated-->
        <!--@Table T_BDZS_ROLE_PERM-->
        <result column="FROLE_ID" property="roleId"/>
        <result column="FPERMISSION_ID" property="permissionId"/>
        <result column="FCREATE_TIME" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        FROLE_ID, FPERMISSION_ID, FCREATE_TIME
    </sql>
    <insert id="insert" parameterType="com.ample16.stackdemo.pojo.dto.RolePermDo">
        <!--@mbg.generated-->
        insert into T_BDZS_ROLE_PERM (FROLE_ID, FPERMISSION_ID, FCREATE_TIME
        )
        values (#{roleId}, #{permissionId}, #{createTime}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ample16.stackdemo.pojo.dto.RolePermDo">
        <!--@mbg.generated-->
        insert into T_BDZS_ROLE_PERM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                FROLE_ID,
            </if>
            <if test="permissionId != null">
                FPERMISSION_ID,
            </if>
            <if test="createTime != null">
                FCREATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="permissionId != null">
                #{permissionId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2021-04-14-->
    <delete id="deleteByRoleId">
        delete from T_BDZS_ROLE_PERM
        where FROLE_ID=#{roleId}
    </delete>

    <insert id="batchInsert" parameterType="list">
        insert into T_BDZS_ROLE_PERM(FROLE_ID, FPERMISSION_ID, FCREATE_TIME)
        SELECT A.* from (
        <foreach collection="rolePermDos" item="rolePerm" index="index" separator="union all">
            SELECT #{rolePerm.roleId},#{rolePerm.permissionId},#{rolePerm.createTime}
            from dual
        </foreach>
        ) A
    </insert>

<!--auto generated by MybatisCodeHelper on 2021-04-15-->
    <select id="findAllByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_BDZS_ROLE_PERM
        where FROLE_ID=#{roleId}
    </select>

    <select id="findAllByRoleIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_BDZS_ROLE_PERM
        where FID in
        <foreach collection="roleIds " item="roleId" separator="," open="(" close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>
