<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaidi100.bdindex.mapper.UserMapper">
    <sql id="Base_Column_List">
  FID,
  FCLIENT_ID,
  FUSERNAME,
  FCREATE_TIME,
  FUPDATE_TIME,
  FSTATUS
</sql>
    <resultMap id="BaseResultMap" type="com.kuaidi100.bdindex.pojo.dto.UserDo">
        <result column="FID" property="id"/>
        <result column="FCLIENT_ID" property="clientId"/>
        <result column="FUSERNAME" property="username"/>
        <result column="FCREATE_TIME" property="createTime"/>
        <result column="FUPDATE_TIME" property="updateTime"/>
        <result column="FSTATUS" property="status"/>
  <!--      <collection property="roleDos" ofType="RoleDo">
            <result column="FID" property="id"/>
            <result column="FNAME" property="name"/>
            <result column="FCREATE_TIME" property="createTime"/>
            <result column="FUPDATE_TIME" property="updateTime"/>
            <result column="FSTATUS" property="status"/>
        </collection>-->
    </resultMap>
    <insert id="add" parameterType="com.kuaidi100.bdindex.pojo.dto.UserDo" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT SEQ_BDZS.CURRVAL AS ID FROM DUAL
        </selectKey>
        insert into T_BDZS_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            FID,
            <if test="clientId != null">
                FCLIENT_ID,
            </if>
            <if test="username != null">
                FUSERNAME,
            </if>
            <if test="createTime != null">
                FCREATE_TIME,
            </if>
            <if test="updateTime != null">
                FUPDATE_TIME,
            </if>
            <if test="status != null">
                FSTATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            SEQ_BDZS.nextval,
            <if test="clientId != null">
                #{clientId},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>
    <update id="update">
        update T_BDZS_USER
        <set>
            <if test="username!=null and username!=''">
                Fusername=#{username},
            </if>
            <if test="updateTime!=null">
                Fupdate_time=#{updateTime},
            </if>
            <if test="clientId!=null">
                Fclient_id=#{clientId},
            </if>
        </set>
        where FID=#{id}
    </update>

    <update id="deleteById">
        update T_BDZS_USER set FSTATUS=0
        where FID=#{userId}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select * from T_BDZS_USER where Fid=#{userId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-15-->
    <select id="findByClientId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_BDZS_USER
        where FCLIENT_ID=#{clientId}
    </select>
</mapper>
